PUBLIC_FIREBASE_API_KEY=your-public-firebase-api-key
PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=your-project-id
PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
PUBLIC_FIREBASE_APP_ID=your-firebase-app-id

# OpenAI API Key and Model
OPENAI_API_KEY=your-openai-api-key
OPENAI_SCENT_MODEL=gpt-4o-mini
